footer {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border-top: #b7b7b7 1px solid;
  color: #4a4a4a;
  padding: 10px 0;
}

.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-item ul {
  padding: 0;
}

@media screen and (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 10px 100px;
  }
}
