@use "variables" as *;

.container-form .logo {
  padding: 5px 0;
}

.auth {
  @include flex-center(column, 20px);
  background-color: $color-secondary;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  padding: 40px 0;
  margin: 0 450px;
  border: solid 3px $color-text;
  box-shadow: 10px 10px 0 $color-text,
    /* ombre "papier découpé" */ 10px 10px 20px rgba(0, 0, 0, 0.3); /* ombre floutée réaliste */

  button {
    margin-top: 20px;
    border-radius: 0;
    padding: 20px 30px;
  }

  a {
    color: $color-primary;
    text-decoration: underline;
  }
}

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
  flex-wrap: wrap;

  input {
    box-sizing: border-box;
    width: 350px;
    height: 32px;
    border: none;
    border-radius: 0;
  }

  input:focus {
    border: 2px solid #64b000;
    outline: none;
  }

  input::placeholder {
    font-size: medium;
    // font-style: italic;
    color: $color-secondary;
  }
}

.footer-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 3px $color-text;
  margin-top: 100px;
  padding-bottom: 20px;
}
