@use "variables" as *;

footer {
  bottom: 0;
  display: flex;
  flex-direction: row;
  background-color: $color-bg;
  border-top: $color-text 3px solid;
  padding: 10px 0;
}

.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-item ul {
  padding: 0;
}

@media screen and (min-width: 768px) {
  footer {
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 10px 100px;
  }
}
