@use "variables" as *;

.header {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .background-video,
  .background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 2;
  }
}

.nav {
  transition: background-color 1s ease, box-shadow 0.3s ease;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 100;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.sidebar {
  position: relative;
  transition: width 0.5s ease;
  opacity: 1;

  &.collapsed {
    width: 6.5rem;
    border-right: none;

    .sidebar-header {
      justify-content: start;

      .toggle-button {
        opacity: 0;
        transform: translate(40%) translateY(-50%);
        pointer-events: none;
        transition: opacity 0.3s ease;
      }

      &:hover .toggle-button {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  // Largeur étendue
  &.expanded {
    width: 16rem;
    // border-right: 1px solid $color-primary;

    .sidebar-header {
      justify-content: space-between;

      .toggle-button {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .sidebar-header {
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0 0.5rem;
    position: relative;
    transition: all 0.5s ease;

    .logo {
      height: 4rem;
      width: auto;
      cursor: pointer;
    }

    .toggle-button {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      transition: opacity 0.3s ease;

      svg {
        height: 1.5rem;
        width: 1.5rem;
        color: currentColor;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  .sidebar-links {
    &.expanded {
      span {
        opacity: 1;
        transform: scale(1);
        transition: opacity 0.3s ease, transform 0.3s ease;
        pointer-events: auto;

        &:hover {
          transform: scale(1.1);
          @apply bg-clip-text text-transparent;
          background-image: linear-gradient(
            to right,
            #c6cc09,
            #64b000,
            #00bdb4
          );
        }
      }
    }

    &.collapsed {
      span {
        opacity: 0;
        transform: scale(0.95);
        transition: opacity 0.3s ease, transform 0.3s ease;
        pointer-events: none;
      }
    }

    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      svg {
        flex-shrink: 0;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  .settings-menu {
    position: absolute;
    bottom: 0;
    left: 100%;
    margin-left: 0.5rem;
    background-color: $color-secondary;
    color: $color-text;
    padding: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;

    &.show {
      display: block;
      opacity: 1;
      transform: translateY(0);
    }

    a {
      display: block;
      padding: 0.25rem 0;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    hr {
      height: 2px;
      width: 240px;
      background-color: $color-text;
      margin: 10px 0;
    }
  }
}

/* footer {
  bottom: 0;
  display: flex;
  flex-direction: row;
  background-color: $color-bg;
  border-top: $color-text 3px solid;
  padding: 10px 0;
} */

.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-item ul {
  padding: 0;
}

@media screen and (min-width: 768px) {
  footer {
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 10px 100px;
  }
}
