@use "variables" as *;

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.2) 0%,
    transparent 100%
  );
  transform: skewX(-25deg);
  transition: none;
  pointer-events: none;
  z-index: 1;
}

.card:hover::before {
  animation: shine 0.8s forwards;
}

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

/* .card img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 0 8px #000;
} */

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.list-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  p {
    padding: 0;
    margin: 5px 0 0 0;
  }
}

select {
  width: 350px;
  height: 32px;
  border: none;
  border-radius: 0;
  background-color: #fff;
}

.souvenir-header {
  color: $color-primary;
  border-bottom: solid 2px $color-primary;
  padding: 0 0 20px 0;
  margin-bottom: 20px;
  width: 100%;
}

.souvenir-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.souvenir-nav-items {
  width: 60px;
  height: 60px;
  border: 2px solid $color-primary;
  border-radius: 50%;
}

.roadmap {
  .entries {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
