$color-bg: #1a1f16;
$color-primary: #64b000;
$color-secondary: #1e251a;
$color-text: #fff;
$color-danger: #d67229;

@mixin flex-center($direction: row, $gap: null, $wrap: nowrap) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  gap: $gap;
  flex-wrap: $wrap;
}

@mixin flex($direction: row, $justifyContent: space-between, $wrap: nowrap) {
  display: flex;
  justify-content: $justifyContent;
  align-items: center;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

@mixin grid-phone {
  display: grid;
  grid-template-columns: 1fr;
}

@mixin main-content {
  padding-top: 140px; // hauteur de la navbar
  padding-left: 80px; // largeur de la sidebar

  flex: 1;
}
