$color-bg: #1a1f16;
$color-primary: #64b000;
$color-secondary: #1e251a;
$color-text: #fff;
$color-danger: #d67229;

@mixin main-content {
  padding-top: 140px; // hauteur de la navbar
  padding-left: 80px; // largeur de la sidebar

  flex: 1;
}

.gradient-border {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #64b000, #d1d0c5, #2c2c2c) 1;
}
